.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 30px;
    background:  #2c2e44;
    border-bottom: 1px solid #fff;
}

.img{
    border-radius: 100%;
    max-width: 100px;
    margin-right: 20px;
    transition: .2s;
}

.text{
    color: #fff;
    margin-right: auto;
}

.button{
    margin-left: auto;
    padding: 4px 8px;
    cursor: pointer;
    transition: .2s;
}

.img:hover{
    transform: scale(1.1);
}

