.background{
    z-index: 10;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    position: fixed;
}

.modal{
    width: 400px;
    
    background-color: #fff;
    
}
 .transaction{
     margin: 50px 0;
     text-align: center;
 }


.header{
padding: 20px;
background-color: #474a6e;
color: #fff;
display: flex;
align-items: center;

}

.body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    justify-content: center;
    align-items: center;

}
p{
    margin-right: auto;
}

span{
    color: rgb(196, 196, 8);
}

